<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Lianyun_DSPContext" connectionString="metadata=res://*/Lianyun_UST.csdl|res://*/Lianyun_UST.ssdl|res://*/Lianyun_UST.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.7.157;initial catalog=Lianyun_DSP;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;connect timeout=7200;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LianyunContext" connectionString="metadata=res://*/Lianyun.csdl|res://*/Lianyun.ssdl|res://*/Lianyun.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.7.157;initial catalog=Lianyun;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>